<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.carelanka">

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />


        <queries>
            <package android:name="com.google.android.apps.maps" />
            <intent>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="geo" />
            </intent>
        </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CareLanka"
        tools:targetApi="31">

        <!-- Login Screen -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register Screen -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- Dashboards -->
        <activity
            android:name=".PatientDashboard"
            android:exported="false" />

        <activity
            android:name=".CaregiverDashboard"
            android:exported="false" />

        <!-- Doctors Feature Screens -->
        <activity
            android:name=".SpecialtiesActivity"
            android:exported="false" />

        <activity
            android:name=".DoctorsListActivity"
            android:exported="false" />

        <activity
            android:name=".DoctorDetailsActivity"
            android:exported="false" />


        <activity
            android:name=".DistrictActivity"
            android:exported="false" />
        <activity
            android:name=".HospitalListActivity"
            android:exported="false" />

        <activity android:name=".EmergencyActivity"
            android:exported="false" />

        <activity android:name=".OnlinePharmacyActivity"
            android:exported="false" />

        <receiver android:name=".AlarmReceiver" />

        <activity android:name=".ReminderActivity" />


        <activity android:name=".FindCaregiverActivity" />

    </application>

</manifest>